* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary:#4B6EEC;
  --secondary:#C3386F;
  --light:#fff;
  --dark:#000;
}


/* topbar and navbar css start */
/* General styles */

.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.company-logo{
    height: 80px;
    width: 100%;
}
.menu-item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.menu-item:hover {
    background-color: #f8f9fa;
}

.submenu,
.sub-submenu {
    position: absolute;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 1000;
}
.menu-item:hover .line{
     background-color: #000;
     width: 100%;
     transition: 0.6s all ease-in-out;

}
.line{
    width: 10%;
    height: 3px;
     background-color: #fff;
}

.submenu {
    top: 100%;
    left: 0;
    min-width: 180px;
}

.sub-submenu {
    top: 10px;
    margin: 5px;
    left: 100%;
    min-width: 150px;
}

.submenu-item,
.sub-submenu-item {
    padding: 10px 15px;
    white-space: nowrap;
    cursor: pointer;
}

.submenu-item:hover,
.sub-submenu-item:hover {
    background-color: #CB436E;
    color: #000;
}

.menu-item:hover > .submenu,
.submenu-item:hover > .sub-submenu {
    display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu-item {
        padding: 10px 15px;
    }

    .submenu,
    .sub-submenu {
        position: static;
        border: none;
    }

}



.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #6934D3;
    padding: 10px 0;

    position: relative;
}

.marquee {
    display: inline-block;
    animation: marquee-scroll 10s linear infinite;
    font-size: 18px;
    color: #fff;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
/* topbar and navbar css end */

/* tenplus start */
.ten-plus-sec{
  text-align: center;
}

.blue {
  color: #6934D3;
  font-size: 200px;
  font-weight: 900;
}

.mehrum {
  color: #CB436E;
  
}

.ten-plus-head{
  font-weight: 700;
}

.video video{
  width: 100%;
}

@media(max-width:991px){
  .ten-plus-content{
      font-size: 21px;
      font-weight: 500;
  }
} 
@media(max-width:1199px){
 .blue {
      color: #6934D3;
      font-size: 120px;
      font-weight: 900;
  }
}

@media(max-width:767px){
  .blue {
       color: #6934D3;
       font-size: 90px;
       font-weight: 900;
   }
}


@media(max-width:502px){
  .blue {
       color: #6934D3;
       font-size: 70px;
       font-weight: 900;
   }
}


@media(max-width:359px){
  .blue {
       color: #6934D3;
       font-size: 48px;
       font-weight: 900;
   }
}

@media(max-width:252px){
  .blue {
       color: #6934D3;
       font-size: 35px;
       font-weight: 900;
   }
}
/* tenplus end */










.total-div {
  position: relative;
}
.img {
  position: relative;
}



 .btn-play{
  position: fixed; 
  transition: all .5s ease;
  background: #071c50;
  display: block;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  border-radius: 50px;
  border-right: none;
  color: #fff;
  /* font-weight: 700; */
  /* font-size: 25px; */
  bottom: 95px;
  left: 20px;
  border: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  line-height:48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .btn-play:before {  
  content: "";    
  position: absolute; 
  z-index: -1;    
  left: 50%;
  top: 50%;   
  transform: translateX(-50%) translateY(-50%);   
  display: block; 
  width: 20px;    
  height: 20px;   
  background: #071c50;    
  border-radius: 50%; 
  -webkit-animation: pulse-border 1500ms ease-out infinite;   
  animation: pulse-border 1500ms ease-out infinite;}
@keyframes pulse-border {
0% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1); 
  opacity: 1;}
100% {
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5); 
  opacity: 0;
 }
}




.btn-play1 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 28%;
  left: 28%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background-color: #071c50;
}
.btn-play2 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 46%;
  left: 20%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background-color: #071c50;
}
.btn-play3 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 58%;
  left: 38%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background-color: #071c50;
}
.btn-play4 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 62%;
  left: 35%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background-color: #071c50;
}
.btn-play5 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 35%;
  left: 25%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background-color: #071c50;
}
.btn-play6 {
  position: absolute;
  display: block;
  box-sizing: content-box;
  bottom: 40%;
  left: 24%;
  width: 5px;
  height: 15px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 0px 5px;
  background: #071c50;
}

/* .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 1000%;
    top: -1000%;
    transform: translateX(-100%) translateY(200%);
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 1000%;
    top: -1000%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    background: var(--light);
    border-radius: 100%;
    transition: all 200ms;
} */

.btn-play span {
  display: block;
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  left: -1px;
  border-left: 16px solid var(--red);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}
.state-details {
  padding: 10px 20px;

  background-color: var(--secondary) !important;
  /* background-color: #000; */
  width: 100%;
}
.state-details h1 {
  color: #fff;
  font-size: 26px !important;
}
.state-details .accordion-item {
  background-color: var(--primary) !important;
  /* background-color: #000 !important; */
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 10px;
}
.state-details .accordion-item span {
  color: rgb(127, 156, 230);
  font-size: 20px;
  font-weight: 500;
}
.state-details .accordion-item button {
  font-size: 20px;
}









/*** Roadmap ***/
.roadmap-carousel {
  position: relative;
}

.roadmap-carousel::before {
  position: absolute;
  content: "";
  height: 0;
  width: 100%;
  top: 20px;
  left: 0;
  border-top: 2px dashed #5063E6;
}

.roadmap-carousel .roadmap-item .roadmap-point {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 6px;
  left: 50%;
  margin-left: -15px;
  background: #FFFFFF;
  border: 2px solid #CB4E6D;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
  display: block;
  width: 18px;
  height: 18px;
  background: #CB4E6D;
}

.roadmap-carousel .roadmap-item {
  position: relative;
  padding-top: 150px;
  text-align: center;
}

.roadmap-carousel .roadmap-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 115px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-right: 2px dashed #5063E6;
}

.roadmap-carousel .roadmap-item::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 111px;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
  background: #CB4E6D;
}

.roadmap-carousel .owl-nav {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 22px;
  color:#fff !important;
  background:#321560 !important;
  transition: .5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
  color: var(--primary);
  background: var(--dark);
}



/*** 

====================================================================
	Innovation Section
====================================================================

***/

.innovation-section{
	position:relative;
	/* padding:55px 55px; */
}

.innovation-section .content-column{
	position:relative;
}

.innovation-section .content-column .inner-column{
	position:relative;
	padding-top:15px;
}

.innovation-section .content-column .bold-text{
	position:relative;
	color:#222222;
	font-size:16px;
	line-height:1.7em;
	font-weight:700;
	margin-bottom:20px;
}

.innovation-section .content-column .text{
	    position: relative;
    color: #000000;
    font-size: 17px;
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 45px;
    text-align: center;
    letter-spacing: 1px;
}

.innovation-section .content-column .inner-column .counter-box{
	position:relative;
	z-index:1;
	text-align:center;
	/* margin-right:-80px; */
	background-color:#ffffff;
	-webkit-box-shadow:0px 0px 35px rgba(0,0,0,0.15);
	-ms-box-shadow:0px 0px 35px rgba(0,0,0,0.15);
	box-shadow:0px 0px 35px rgba(0,0,0,0.15);
}

.innovation-section .content-column .inner-column .fact-counter .column{
	padding:0px;
	float:left;
}

.innovation-section .content-column .inner-column .fact-counter .column:last-child .inner{
	border-right:none;
}

/* Fact Counter */

.fact-counter{
	position:relative;
}

.fact-counter .column{
	position:relative;
	display:inline-block;
}

.fact-counter .column .inner{
	position:relative;
	padding:45px 0px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	border-right:1px solid #dddddd;
	margin:0 0 30px;
}

.fact-counter .count-outer{
	position:relative;
	margin:0px 0px;
	font-weight:300;
	color:var(--dark);
	font-size:40px;
}

.fact-counter .count-outer .count-text{
	position:relative;
	font-weight:300;
	color:var(--dark);
	font-size:40px;
	display:inline-block;
}

.fact-counter .column .counter-title{
	    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: -var(--dark);
    display: block;
    margin-top: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
	
}

.innovation-section .images-column{
	position:relative;
	margin-bottom:30px;
}

.innovation-section .images-column .inner-column{
	position:relative;
	margin-top:-17px;
}

.innovation-section .images-column .image{
	position:relative;
	margin-bottom:25px;
}

.innovation-section .images-column .image img{
	position:relative;
	width:100%;
	display:block;
}







.we-do-section{
	position:relative;
	padding:95px 0px 70px;
	background-color: #ECF5FF;
}

.we-do-section .title-column{
	position:relative;
	margin-bottom:30px;
}

.we-do-section .title-column .inner-column{
	padding-right:30px;
}

.we-do-section .title-column .sec-title{
	margin-bottom:20px;
}

.we-do-section .title-column .bold-text{
	position:relative;
	color:var(--primary) !important;
	/* font-size:20px; */
	font-style:italic;
	/* line-height:1.6em; */
	margin-bottom:18px;
	font-family: 'Lora', serif;
}

.we-do-section .title-column .text{
	position:relative;
	color:#797979;
	font-size:16px;
	margin-bottom:28px;
}

.services-block-three{
	position:relative;
	margin-bottom:30px;
}

.services-block-three .inner-box{
	position:relative;
}

.services-block-three .inner-box .image{
	position:relative;
}

.services-block-three .inner-box .image img{
	position:relative;
	width:100%;
	display:block;
}

.services-block-three .inner-box .image .overlay-box{
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:40%;
	display:block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.8));
	background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.8));
	background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.8));
	background:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.8));
}

.services-block-three .inner-box:hover .image .overlay-box{
	opacity:0;
}

.services-block-three .inner-box .image .overlay-box h3{
	position:absolute;
	left:0px;
	bottom:20px;
	color:#ffffff;
	font-weight:600;
	font-size:18px;
	width:100%;
	text-align:center;
}

.services-block-three .inner-box:hover .image .content-overlay{
	opacity:1;
}
.services-block-three  .inner-box{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* padding: 2px; */
}

.services-block-three .inner-box .image .content-overlay{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0;
	display:block;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	background-color:rgba(65,69,177,0.85);
}

.services-block-three.style-two .inner-box .image .content-overlay{
	background-color:rgba(2,173,136,0.90);
}

.services-block-three .inner-box .image .content-overlay .overlay-inner{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
	text-align:center;
    padding: 10px 30px;
    vertical-align: middle;
}

.services-block-three .inner-box .image .content-overlay .overlay-inner .content-box{
	position: relative;
    display: table-cell;
    vertical-align: middle;
}

.services-block-three .inner-box .image .content-overlay .content-box h4{
	position:relative;
	font-size:18px;
	font-weight:600;
	margin-bottom:2px;
}

.services-block-three .inner-box .image .content-overlay .content-box h4 a{
	position:relative;
	color:#ffffff;
}

.services-block-three .inner-box .image .content-overlay .content-box .read-more{
	position:relative;
	color:#ffffff;
	font-size:14px;
	text-decoration:underline;
  background-color: var(--primary) !important;
}




/* contact-us start */


.contact_us .sec-title{
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.contact_us .sec-title {
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.contact_us .sec-title .title{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #afafaf;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 10px;
	text-align: center;
}

.contact_us .sec-title h2{
	    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    color: var(--light) !important;
    font-weight: 800;
    padding-bottom: 25px;
    text-align: center;
   font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.contact_us .sec-title h2:before{
	position:absolute;
	content:'';
	left:50%;
	bottom:0px;
	width:100px;
	height:2px;
	background-color:var(--secondary) !important;
}

.contact_us .sec-title h2:after{
	position:absolute;
	content:'';
	right:50%;
	bottom:0px;
	width:50px;
	height:2px;
	background-color:var(--primary) !important;
}

.contact_us .sec-title-1 h2 {
    position: relative;
    display: block;
    font-size: 25px;
    line-height: 1.2em;
    color: var(--primary) !important;
    font-weight: 800;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.contact_us .sec-title.light h2{
	color: #ffffff;
}

.contact_us .sec-title.light h2:after{
	background-color:#ffffff;
}

.contact_us .sec-title.centered{
	text-align:center;
}

.contact_us .sec-title.centered h2:before{
	left:50%;
	margin-left:-60px;
}

.contact_us .sec-title.centered h2:after{
	left:50%;
	margin-left:-60px;
}





.contact_us {
	background-color: #424e7e;
}

.contact_us .sec-title

.contact_us .sec-title{
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.contact_us .sec-title {
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.contact_us .sec-title .title{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #afafaf;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 10px;
	text-align: center;
}

.contact_us .sec-title h2{
	    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    color: var(--light);
    font-weight: 800;
    padding-bottom: 25px;
    text-align: center;
   font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.contact_us .sec-title h2:before{
	position:absolute;
	content:'';
	left:50%;
	bottom:0px;
	width:100px;
	height:2px;
	background-color:var(--secondary) !important;
}

.contact_us .sec-title h2:after{
	position:absolute;
	content:'';
	right:50%;
	bottom:0px;
	width:50px;
	height:2px;
	background-color:var(--light);
}

.contact_us .sec-title-1 h2 {
    position: relative;
    display: block;
    font-size: 25px;
    line-height: 1.2em;
    color: var(--primary) !important;
    font-weight: 800;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.contact_us .sec-title.light h2{
	color: #ffffff;
}

.contact_us .sec-title.light h2:after{
	background-color:#ffffff;
}

.contact_us .sec-title.centered{
	text-align:center;
}

.contact_us .sec-title.centered h2:before{
	left:50%;
	margin-left:-60px;
}

.contact_us .sec-title.centered h2:after{
	left:50%;
	margin-left:-60px;
}



.contact_us .btn-style-one{
	position:relative;
	line-height:29px;
	color:var(--primary) !important;
	font-size:17px;
	font-weight:600;
	letter-spacing:1px;
	background-color:#C53C70 !important;
	border:2px solid var(--light) !important;
	padding:10px 30px 10px 55px;
	font-family: 'Poppins', sans-serif;
}

.contact_us .btn-style-one:before{
	position:absolute;
	content:'';
	left:18px;
	top:50%;
	height:1px;
	width:20px;
	margin-top:-1px;
	transition:all 0.3s ease;
	/* -moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease; */
	background-color:#fff;
}

.contact_us .btn-style-one:hover{
	color:#000 !important;
	background: #fff !important;
}

.contact_us  .btn-style-one:hover:before{
	background-color:#000 !important;
}



/* captcha section in form start */
.captcha-sec  input {
    width: 50%;
}

.captcha-sec  p {
    background: var(--primary);
    color: rgb(0, 0, 0);
    /* padding: 10px 20px; */
    margin: 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    /* border-radius: 5px; */
    width: 50%;
    text-align: center !important;
    letter-spacing: 10px;
    background: url(../img/index-img/capt-img.jpeg);
    font-family: "League Spartan", serif;

}

.captcha-sec button {
    /* width: 50%; */
    border: none;
    outline: none;
    background: #e2dfdf;
    font-size: 20px;
    margin: 0 5px;
    background:  var(--light) !important;
    color: #22263E !important;
}

form .text-danger{
    color: red !important;
    font-weight: bold;
}
.map iframe{
	width: 100% !important;
	margin-top: 50px;
}
/* captcha section in form end */



/* captcha new design start */
.captchasep1 {
    display: flex;
}

.captchasep1 input {
    width: 100% !important;
    margin-top: 0 !important;
}

.captchasep1 .captcha-codes-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    border-top: 1px solid #CED4DA;
    border-right: 1px solid #CED4DA;
    border-bottom: 1px solid #CED4DA;
    background: url(../images/logo/captcha.jpg);
}

.captchasep1 .captcha-codes-sec p {
    margin-bottom: 0;
    letter-spacing: 9px;
    font-style: italic;
    font-size: 22px;
    padding: 6px;
    height: 100%;
}

.captchasep1 .captcha-codes-sec button {
    font-style: italic;
    font-size: 22px;
    outline: none;
    background: transparent;
    height: 100%;
    border: none;
}

.captchasep1 .captcha-codes-sec button i {
    background: var(--purple);
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}


@media screen and (max-width:600px) {
    .captchasep1 {
      display: flex;
      flex-direction: column !important;
    }

    .captchasep1 .captcha-codes-sec {
      border-left: 1px solid #CED4DA;
      border-right: 1px solid #CED4DA;
      border-bottom: 1px solid #CED4DA;
      margin-top: 3px;
    }


  }

.bg-danger22{
    background-color: var(--primary) !important;
}


/* captcha new design end */
/* contact-us-end */



/* application start */
.application {
  padding: 52px 0;
}
.application .specfi-head {
  text-align: center;
  padding: 40px 0;
  background: var(--primary) !important;
  min-height: 235px !important;
}
.application .specfi-head:hover { 
  background-color:#1E8FC9!important;
}
.application .specfi-head .specfi-img img {
  width: 180px;
  margin-bottom: 20px;
}
.application .specfi-head .specfi-title p {
  color: #86C228;
  font-weight: 700;
  margin-bottom: 0;
}
.application .specfi-head .specfi-title span {
  color: #fff;
  font-size: 23px;
}
/* application end */







/* footer style start */
.footer {
  background-color: #ffffff;
  padding-top: 20px;
}

.footer img {
  width: 250px;
}

.footer h1 {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 76, 156);
  font-family: sans-serif;
}

.footer p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(134, 134, 134);
  font-family: sans-serif;
}

.address {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .address {
    padding-left: 0px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .call {
    padding-left: 30px;
  }
}

.email {
  padding-top: 50px;
}

.email a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: rgb(134, 134, 134);
  font-family: sans-serif;
}

.call {
  padding-top: 50px;
}

.call a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: rgb(134, 134, 134);
  font-family: sans-serif;
}

.folow-us {
  padding-top: 50px;
}

hr {
  color: rgb(134, 134, 134);
  padding: 0px 40px;
}

.copyright {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: rgb(134, 134, 134);
  font-family: sans-serif;
}
/* footer style end */

















/* product start */
.productsection{
	background: url(../images/bg-about-journey.jpg) no-repeat center center;
  background-size:cover;
}
.portfoio-section3-1 h3{
  color: #e27b1f;
  font-weight: 700;
  color: #e27b1f;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.portfoio-section3-1 h3 span{    
  color: #004170;
}
.head-section.service-head h3 {
  margin: 32px 0px;
}
.service-list-column{
  float:left;
}
.service-list-column img{
  width:100%;
  float:left;
  height:auto;
}
.service-list-column .service-heading{
 text-align: center;
 width: 100%;
 float: left;
 border-left: 4px solid #004170;
 box-shadow: 0px 4px 10px #ccc;
 background-color: var(--light) !important;
}
.service-list-column .service-heading h5{
 font-size: 22px;
 background-color: var(--primary);
 border-color: var(--primary) ;
 font-weight: 600;
}
.service-list-column .service-heading p{
  font-size: 19px;
  text-align: justify;
  padding: 0 10px;
  color: #000;
  line-height: 21px;
}
.service-list-column a:hover{
  text-decoration:none;
}
.service-list-column:hover .read-more-link{
  color: #f44337;
}

.gallery .tab-class .nav-item {
  padding: 0 0 20px 0;
}
.gallery .tab-class .nav-item a.active {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}
.gallery .tab-class .nav-item a {
  border-color: var(--primary) !important;
}
.gallery .tab-class .nav-item a.active span {
  color: var(--light) !important;
}








/*** 

====================================================================
		Section Title
====================================================================

***/

.sec-title{
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.sec-title {
	position:relative;
	z-index: 1;
	margin-bottom:35px;
}

.sec-title .title{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 24px;
	color: #afafaf;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 10px;
	text-align: center;
}

.sec-title h2{
	    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.2em;
    color: var(--primary) !important;
    font-weight: 800;
    padding-bottom: 25px;
    text-align: center;
   font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.sec-title h2:before{
	position:absolute;
	content:'';
	left:50%;
	bottom:0px;
	width:100px;
	height:2px;
	background-color:var(--secondary) !important;
}

.sec-title h2:after{
	position:absolute;
	content:'';
	right:50%;
	bottom:0px;
	width:50px;
	height:2px;
	background-color:var(--primary) !important;
}

.sec-title-1 h2 {
    position: relative;
    display: block;
    font-size: 25px;
    line-height: 1.2em;
    color: var(--primary) !important;
    font-weight: 800;
    padding-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.sec-title.light h2{
	color: #ffffff;
}

.sec-title.light h2:after{
	background-color:#ffffff;
}

.sec-title.centered{
	text-align:center;
}

.sec-title.centered h2:before{
	left:50%;
	margin-left:-60px;
}

.sec-title.centered h2:after{
	left:50%;
	margin-left:-60px;
}

.contact-us {
  position: fixed;
  right: 0;
  bottom: 200px;
  right: -40px;
  z-index: 9999999;
  transform: rotate(-90deg);
}

.contact-us a {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #321560;
  text-decoration: none;
  color: #fff;
}
/* 140+ plus section start */
.one-fourty-plus{
  height: 800px;
  background-color: #071C50;
}
@media(max-width:768px){
  .one-fourty-plus{
    height: 400px;
  
  }
}
.one-fourty-plus h1{
  color: #fff;
  margin-bottom: 0px !important;
}
.one-fourty-plus .line{
  height: 2px;
  width: 120px;
  background-color: #fff;
  display: inline-block;
}
/* 140+ section end */
/* success story start */
.succes-story .total-content-div {
  position: relative;
}

.succes-story .total-content-div .success-story-back-text {
  position: relative;
}
.succes-story .total-content-div .overlay-text{
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
}
.succes-story .total-content-div .overlay-text h1{
  color: #0232aa;
  font-size: 26px;
  
}
.succes-story .total-content-div .success-story-back-text h1 {
  font-size: 170px;
  opacity: 0.1;
  text-align: center;
  font-weight: 700;
}
.success-project-carousel {
  padding: 30px 250px;
}
@media(max-width:768px){
  .succes-story .total-content-div .success-story-back-text h1 {
    font-size: 80px;
    opacity: 0.1;
    text-align: center;
    font-weight: 700;
  }
  .success-project-carousel {
    padding: 10px 0px;
  }
}
@media(max-width:400px){
  .succes-story .total-content-div .success-story-back-text h1 {
    font-size: 45px;
    opacity: 0.1;
    text-align: center;
    font-weight: 700;
  }
  .succes-story .total-content-div .overlay-text h1{
    color: #0232aa;
    font-size: 20px;
    
  }
}
.card-success .content-succes {
  padding: 20px 20px 20px 10px;
  background-color: #072572;
  min-height: 200px;
  max-height: 200px;
}
.card-success a{
  text-decoration: none;
  color: #071C50;
  margin-bottom: 0px !important;
  font-size: 18px;
  font-weight: 500;
  
}
.card-success .succ-line{
  height: 2px;
  width: 50px;
  background-color: #023f1c;
  display: inline-block;
}
.card-success .content-succes h3,
.card-success .content-succes h4 {
  color: #fff;
  font-weight: 300;
}
/* success story end */
/* award start */
.award{
  background-image: url(../images/banner-succes/indospace_awards_bd_image.jpg);
}
.award .award-year-heading{
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 0px !important;
} 
.award .item ul li{
text-decoration: none;
list-style: none;
color: #fff;
line-height: 45px;
font-size: 18px;
} 
.award .item ul{
  padding-left: 0px !important;
}
/* award end */
.about-banner {
  padding: 100px 0px;
  text-align: center;
  background-color: #6934D2;
}

.about-banner .banner-text h1 {
  color: #fff;
  font-weight: 300;
}

.about-page-content .about-para p {
  text-align: justify;
  font-size: 20px;
  line-height: 35px;
}
.about-image .about-page-img{
  position: relative;
}
.about-image .about-page-img .img{
  position: relative;
}
.about-image .about-page-img .overly-img{
  position: absolute;
  bottom: 70%;
}
.at-a-glance .heading h2{
font-size: 42px;
font-weight: 400;
color: #C53970;
}
.at-a-glance .heading h3{
  font-size: 105px;
  font-weight: 300;
  letter-spacing: 12px;
  color: #6934D2;
}
@media(max-width:768px){
  .at-a-glance .heading h2{
font-size: 36px;
font-weight: 400;
color: #C53970;
}
.at-a-glance .heading h3{
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 12px;
  color: #6934D2;
}
}
@media(max-width:400px){
  .at-a-glance .heading h2{
font-size: 30px;
font-weight: 400;
color: #C53970;
}
.at-a-glance .heading h3{
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 12px;
  color: #6934D2;
}
}
.brochure-div{
  text-decoration: none;
  padding: 10px 20px;
  background-color: #6934D2;
  color: #fff;
  font-size: 18px;
}
.brochure-div:hover{
  color: #fff;
}
.brochure-div i{
  padding: 7px 10px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}